.container{
    position: absolute;
    left: 270px;
    top: 0;
    min-height: 100vh;
    right: 0;
    padding: 20px 3rem 40px;
}

.title h1{
    padding: 15px 0;
    color: var(--text-black-900);
    font-size: 40px;
    font-weight: 700;
    position: relative;
    margin-top: 15px;
    letter-spacing: 1px;
}

.title h1::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: var(--skin-color);
}

.container h2{
    font-size: 25px;
    color: var(--skin-color);
    text-align: center;
}

.container h3{
    font-size: 15px;
    color: var(--text-black-900);
    margin-bottom: 3rem;
    text-align: center;
}

.container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    list-style: none;
}

.container ul li{
    width: 19%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container ul li span{
    font-size: 25px;
    color: var(--skin-color);
}

.container ul li h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    margin-bottom: 0px;
    margin-top: 15px;
    text-transform: capitalize;
}

.container ul li p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    font-weight: 400;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.formContainer form input{
    height: 40px;
}

.formContainer form input, .formContainer form textarea{
    width: 400px;
    padding-left: 5px;
    border-radius: 10px;
    font-size: 16px;
    color: var(--text-black-700);
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    transition: all .3s ease;
    outline: none;
}

.formContainer form input:focus, .formContainer form textarea:focus{
    box-shadow: 0 0 25px rgba(48, 46 , 77, .15);
}

.formContainer form textarea{
    padding-top: 5px;
}

.formContainer form input:last-child{
    color: white;
    background: var(--skin-color);
    font-size: 16px;
    cursor: pointer;
    border: 2px solid var(--skin-color);
    transition: all .3s ease;
    font-weight: 500;
    letter-spacing: 1px;
}

.formContainer form input:last-child:hover{
    color: var(--skin-color);
    background: white;
    font-weight: 600;
}